In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
UHIdata= gpd.read_file('UHI3525072014/')

In [3]:
UHIdata.head()

,Name,descriptio,timestamp,begin,end,altitudeMo,tessellate,extrude,visibility,drawOrder,...,FID,FID_1,Nimetus,Linn,Satelliit,Kuupaev,Lavend,Shape__Are,Shape__Len,geometry
0,None,None,None,None,None,None,-1,0,-1,None,...,1,551,Soojussaared,Tallinn,Landsat-8,25-07-2014,35,24528.419922,597.071743,"POLYGON ((552609.445 6591977.806, 552579.467 6..."
1,None,None,None,None,None,None,-1,0,-1,None,...,2,552,Soojussaared,Tallinn,Landsat-8,25-07-2014,35,1738.054688,166.759918,"POLYGON ((540285.941 6591823.380, 540271.628 6..."
2,None,None,None,None,None,None,-1,0,-1,None,...,3,553,Soojussaared,Tallinn,Landsat-8,25-07-2014,35,79490.843750,1492.626260,"POLYGON ((552528.556 6591105.562, 552507.085 6..."
3,None,None,None,None,None,None,-1,0,-1,None,...,4,554,Soojussaared,Tallinn,Landsat-8,25-07-2014,35,707022.615234,4307.385549,"POLYGON ((553519.421 6591247.787, 553544.482 6..."
4,None,None,None,None,None,None,-1,0,-1,None,...,5,555,Soojussaared,Tallinn,Landsat-8,25-07-2014,35,76629.892578,1061.815761,"POLYGON ((552064.372 6590851.872, 552065.722 6..."

In [4]:
BuildingIdata= gpd.read_file('buldings/')

In [13]:
bui_id = []
uhi_id = []
for r,s in zip(BuildingIdata.geometry,BuildingIdata.objectid):
    for v, o in zip(UHIdata.geometry, UHIdata.FID):
        intersection_area = r.buffer(0).intersection(v.buffer(0))
        if not intersection_area.is_empty:
            p = gpd.GeoSeries(intersection_area)
            print(f"{int(o)} has intersection with {s}")
            bui_id.append(s)
            uhi_id.append(o)

26 has intersection with 4753
26 has intersection with 4754
21 has intersection with 64240
21 has intersection with 64861
20 has intersection with 74552
77 has intersection with 76479
77 has intersection with 76527
73 has intersection with 76614
50 has intersection with 76944
73 has intersection with 77241
50 has intersection with 78359
50 has intersection with 78371
50 has intersection with 78381
50 has intersection with 78412
50 has intersection with 78418
50 has intersection with 78431
58 has intersection with 78581
58 has intersection with 78618
58 has intersection with 78677
25 has intersection with 97736
31 has intersection with 97780
31 has intersection with 97792
34 has intersection with 97808
34 has intersection with 97816
34 has intersection with 97817
34 has intersection with 97821
34 has intersection with 97832
34 has intersection with 97842
31 has intersection with 97844
34 has intersection with 97861
31 has intersection with 97888
34 has intersection with 97913
34 has intersection with 97918
34 has intersection with 97931
34 has intersection with 97939
34 has intersection with 97973
34 has intersection with 97977
24 has intersection with 98037
24 has intersection with 98038
34 has intersection with 98043
40 has intersection with 98054
34 has intersection with 98055
24 has intersection with 98057
45 has intersection with 98091
29 has intersection with 98111
29 has intersection with 98170
29 has intersection with 98171
40 has intersection with 98183
29 has intersection with 98195
29 has intersection with 98201
63 has intersection with 98242
52 has intersection with 98311
59 has intersection with 98328
52 has intersection with 98349
52 has intersection with 98353
37 has intersection with 98355
52 has intersection with 98402
52 has intersection with 98417
52 has intersection with 98427
27 has intersection with 98432
27 has intersection with 98447
52 has intersection with 98454
52 has intersection with 98458
52 has intersection with 98466
59 has intersection with 98483
52 has intersection with 98498
52 has intersection with 98506
52 has intersection with 98511
52 has intersection with 98512
52 has intersection with 98516
52 has intersection with 98518
52 has intersection with 98519
64 has intersection with 98523
52 has intersection with 98527
52 has intersection with 98534
52 has intersection with 98535
52 has intersection with 98536
52 has intersection with 98537
65 has intersection with 98544
52 has intersection with 98554
52 has intersection with 98556
52 has intersection with 98557
64 has intersection with 98558
52 has intersection with 98565
52 has intersection with 98574
52 has intersection with 98577
52 has intersection with 98578
52 has intersection with 98581
52 has intersection with 98583
52 has intersection with 98584
65 has intersection with 98590
52 has intersection with 98592
52 has intersection with 98595
62 has intersection with 98598
52 has intersection with 98599
52 has intersection with 98616
52 has intersection with 98622
65 has intersection with 98630
27 has intersection with 98642
52 has intersection with 98654
52 has intersection with 98656
52 has intersection with 98661
52 has intersection with 98665
52 has intersection with 98671
52 has intersection with 98690
60 has intersection with 98691
27 has intersection with 98818
27 has intersection with 98843
27 has intersection with 98850
27 has intersection with 98893
60 has intersection with 98910
52 has intersection with 98976
60 has intersection with 99000
52 has intersection with 99004
52 has intersection with 99010
52 has intersection with 99052
52 has intersection with 99077
52 has intersection with 99080
28 has intersection with 99088
28 has intersection with 99099
28 has intersection with 99117
52 has intersection with 99118
52 has intersection with 99127
28 has intersection with 99136
52 has intersection with 99137
52 has intersection with 99139
28 has intersection with 99146
28 has intersection with 99153
52 has intersection with 99157
52 has intersection with 99165
28 has intersection with 99166
52 has intersection with 99183
52 has intersection with 99188
52 has intersection with 99190
52 has intersection with 99197
52 has intersection with 99238
52 has intersection with 99276
52 has intersection with 99283
44 has intersection with 99290
44 has intersection with 99291
52 has intersection with 99297
32 has intersection with 99313
44 has intersection with 99319
44 has intersection with 99323
44 has intersection with 99349
52 has intersection with 99352
44 has intersection with 99368
44 has intersection with 99384
52 has intersection with 99397
32 has intersection with 99399
32 has intersection with 99448
44 has intersection with 99453
32 has intersection with 99471
32 has intersection with 99474
36 has intersection with 99484
35 has intersection with 99547
35 has intersection with 99585
35 has intersection with 99651
35 has intersection with 99689
35 has intersection with 99691
32 has intersection with 99694
32 has intersection with 99736
32 has intersection with 99747
32 has intersection with 99773
54 has intersection with 100014
52 has intersection with 100039
52 has intersection with 100064
52 has intersection with 100075
35 has intersection with 100090
54 has intersection with 100114
52 has intersection with 100128
54 has intersection with 100142
52 has intersection with 100157
54 has intersection with 100167
23 has intersection with 100171
54 has intersection with 100177
54 has intersection with 100298
52 has intersection with 100574
22 has intersection with 106262
22 has intersection with 106277
22 has intersection with 106326
22 has intersection with 106340
22 has intersection with 106380
22 has intersection with 106426
22 has intersection with 106454
19 has intersection with 106981
22 has intersection with 107034
13 has intersection with 107147
13 has intersection with 107178
13 has intersection with 107213
18 has intersection with 107268
19 has intersection with 107357
13 has intersection with 107630
13 has intersection with 107640
13 has intersection with 107713
19 has intersection with 177958
93 has intersection with 203486
93 has intersection with 203545
103 has intersection with 259770
98 has intersection with 261934
99 has intersection with 262566
99 has intersection with 262583
103 has intersection with 263293
99 has intersection with 263299
101 has intersection with 263312
101 has intersection with 263317
99 has intersection with 263375
52 has intersection with 311230
95 has intersection with 335621
97 has intersection with 336834
99 has intersection with 336851
99 has intersection with 337533
27 has intersection with 381122
15 has intersection with 381921
51 has intersection with 383154
39 has intersection with 383168
39 has intersection with 383174
39 has intersection with 383175
39 has intersection with 383178
42 has intersection with 383278
51 has intersection with 383337
51 has intersection with 383338
51 has intersection with 383339
51 has intersection with 383342
51 has intersection with 383343
51 has intersection with 383345
51 has intersection with 383346
55 has intersection with 383375
55 has intersection with 383376
55 has intersection with 383377
55 has intersection with 383378
55 has intersection with 383379
55 has intersection with 383383
55 has intersection with 383385
55 has intersection with 383387
55 has intersection with 383389
55 has intersection with 383390
55 has intersection with 383391
55 has intersection with 383392
55 has intersection with 383393
42 has intersection with 383511
55 has intersection with 383687
55 has intersection with 383688
55 has intersection with 383694
39 has intersection with 383726
39 has intersection with 383727
61 has intersection with 384592
61 has intersection with 384593
61 has intersection with 384594
61 has intersection with 384595
61 has intersection with 384596
61 has intersection with 384600
61 has intersection with 384601
61 has intersection with 384602
39 has intersection with 384603
39 has intersection with 384604
39 has intersection with 384605
39 has intersection with 384608
39 has intersection with 384610
43 has intersection with 384620
61 has intersection with 384621
61 has intersection with 384629
61 has intersection with 384630
43 has intersection with 384631
43 has intersection with 384632
43 has intersection with 384634
43 has intersection with 384646
61 has intersection with 384654

61 has intersection with 384659
61 has intersection with 385092
61 has intersection with 385099
55 has intersection with 385107
74 has intersection with 385951
74 has intersection with 385952
33 has intersection with 386725
91 has intersection with 386901
79 has intersection with 387082
55 has intersection with 387373
83 has intersection with 387741
85 has intersection with 387750
68 has intersection with 397522
52 has intersection with 397921
52 has intersection with 416721
47 has intersection with 458759
46 has intersection with 458801
46 has intersection with 458822
22 has intersection with 476460
34 has intersection with 477263
35 has intersection with 480860
89 has intersection with 488574
88 has intersection with 488667
89 has intersection with 488675
89 has intersection with 488710
88 has intersection with 488751
80 has intersection with 488844
69 has intersection with 489061
92 has intersection with 489087
92 has intersection with 489099
92 has intersection with 489139
75 has intersection with 489164
75 has intersection with 489175
69 has intersection with 489178
75 has intersection with 489181
75 has intersection with 489186
75 has intersection with 489187
75 has intersection with 489197
75 has intersection with 489199
75 has intersection with 489200
75 has intersection with 489221
75 has intersection with 489225
75 has intersection with 489228
75 has intersection with 489230
75 has intersection with 489239
75 has intersection with 489245
75 has intersection with 489256
70 has intersection with 489661
70 has intersection with 489666
70 has intersection with 489670
70 has intersection with 489672
70 has intersection with 489674
70 has intersection with 489677
70 has intersection with 489682
70 has intersection with 489684
70 has intersection with 489685
70 has intersection with 489693
70 has intersection with 489698
70 has intersection with 489703
70 has intersection with 489704
70 has intersection with 489721
70 has intersection with 489725
70 has intersection with 489744
70 has intersection with 489749
70 has intersection with 489750
70 has intersection with 489757
70 has intersection with 489759
72 has intersection with 489787
72 has intersection with 489827
71 has intersection with 498245
71 has intersection with 498314
38 has intersection with 531877
77 has intersection with 546750
77 has intersection with 546754
77 has intersection with 546757
77 has intersection with 546759
77 has intersection with 546762
77 has intersection with 546763
77 has intersection with 546764
77 has intersection with 546766
77 has intersection with 546767
77 has intersection with 546768
77 has intersection with 546771
73 has intersection with 546783
73 has intersection with 546820
73 has intersection with 546870
73 has intersection with 547046
41 has intersection with 547316
41 has intersection with 547319
41 has intersection with 547325
53 has intersection with 547334
66 has intersection with 547370
91 has intersection with 547535
91 has intersection with 547536
91 has intersection with 547537
91 has intersection with 547538
91 has intersection with 547540
91 has intersection with 547541
91 has intersection with 547542
91 has intersection with 547621
67 has intersection with 547730
76 has intersection with 547902
76 has intersection with 548087
76 has intersection with 548171
76 has intersection with 548257
76 has intersection with 548268
76 has intersection with 548399
76 has intersection with 548686
67 has intersection with 548740
10 has intersection with 562939
12 has intersection with 563225
13 has intersection with 622480
44 has intersection with 622488
52 has intersection with 622491
52 has intersection with 622496
52 has intersection with 622545
32 has intersection with 622555
40 has intersection with 622556
60 has intersection with 669976
34 has intersection with 670017
52 has intersection with 695242
32 has intersection with 698040
43 has intersection with 702912
64 has intersection with 742221
32 has intersection with 744618
32 has intersection with 744619
32 has intersection with 745817
69 has intersection with 753024
22 has intersection with 770236
52 has intersection with 773439

In [14]:
intersection_layer = pd.DataFrame(zip(bui_id,uhi_id), columns=['Building_objectid', 'UHI.FID'])

In [15]:
intersection_layer

     Building_objectid  UHI.FID
0                 4753       26
1                 4754       26
2                64240       21
3                64861       21
4                74552       20
..                 ...      ...
393             744619       32
394             745817       32
395             753024       69
396             770236       22
397             773439       52

[398 rows x 2 columns]

In [16]:
intersection_layer.to_csv('intersection_layer.csv',index=False)